# {{ ansible_managed }}

<VirtualHost _Default_:80>

	ServerAdmin webmaster@ecritel.net

	DocumentRoot /var/www/default

	<Directory /var/www/default/>
		Options -Indexes FollowSymLinks 
		AllowOverride None
		Order allow,deny
		allow from all
	</Directory>
	
	ErrorLog /var/log/apache2/error.log
	CustomLog /var/log/apache2/access.log combined

	<IfModule mod_headers.c>
        	Header set X-vhostID Default
	</IfModule>

</VirtualHost>
# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
