[Unit]
Description=Varnish HTTP accelerator

[Service]
Type=forking
LimitNOFILE=131072
LimitMEMLOCK=82000
ExecStartPre=/usr/sbin/varnishd -C -f /etc/varnish/default.vcl
ExecStart=/usr/sbin/varnishd -a {{ ansible_eth0.ipv4.address|default('') }}:80 -T localhost:6082 -f /etc/varnish/default.vcl -S /etc/varnish/secret -s malloc,{{ varnish_memory|default('4G') }} -p send_timeout={{ send_timeout|default('300') }} -p http_resp_hdr_len={{ http_resp_hdr_len|default('32k') }}
ExecReload=/usr/share/varnish/reload-vcl

[Install]
WantedBy=multi-user.target
