# {{ ansible_managed }}
# 2.4

<VirtualHost *:80>

	Servername {{ item }}
{% if vhost_domaine_alias_name is defined %}
	ServerAlias {{ vhost_domaine_alias_name }}
{% endif %}

	ServerAdmin webmaster@FOURNISSEUR.net
	DocumentRoot /var/www/{{ item }}/www

	<Directory /var/www/{{ item }}/>

		Options -Indexes FollowSymLinks
		AllowOverride All
		Require all granted

	</Directory>

	<Location /info.php>

        Require all denied
        Require local
        Require ip 213.218.130

	</Location>
        
    ErrorLog ${APACHE_LOG_DIR}/{{ item }}-error.log
	CustomLog ${APACHE_LOG_DIR}/{{ item }}-access.log combined

	<IfModule mod_headers.c>

        	Header set X-vhostID {{ item }}

	</IfModule>

</VirtualHost>
# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
